# Identifiant du projet Google Cloud
GCP_PROJECT=mon-projet-gcp

# Configuration BigQuery
BQ_DATASET=spot_capacity
BQ_TABLE=history

# Nom du bucket GCS hébergeant le site statique
# Note : Pour lier un domaine personnalisé, utilisez le nom de domaine complet (ex: capacity.mon-domaine.com)
GCS_BUCKET=spot-capacity-static-site

# Configuration du Job Cloud Run
REGION=europe-west1
JOB_NAME=spot-capacity-fetcher
SCHEDULER_JOB_NAME=hourly-spot-capacity-fetch
SA_NAME=spot-capacity-fetcher-sa

# Liste des régions à scruter (séparées par des virgules)
REGIONS=europe-west1,europe-west3,us-central1,us-east1

# Liste des types de machines à scruter (séparées par des virgules)
MACHINE_TYPES=n2-standard-2,n2-standard-4,t2d-standard-4,t2d-standard-8
